.app-container {
  display: flex;
  height: 100vh;
  font-family: var(--font-primary);
}

.editor-container,
.resume-container {
  width: 50%;
  padding: 30px;
  overflow-y: auto;
  box-sizing: border-box;
}

.editor-container {
  background-color: var(--color-light);
}

.resume-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}